<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body class="bg-[#EDEDE9] h-full">
    <!-- nav   -->

    <nav class="sticky top-0 z-[2]">
      <section class="w-full h-16 flex bg-[#083B6A] border-2 border-white">
        <div class="flex w-1/2">
          <div class="mt-1 ml-[6em]">
            <a
              href="https://hash8.io/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../assets/images/logo.svg"
                alt="image"
                class="rounded-full h-12 w-12 bg-white cursor-pointer border-2 border-[#344e41]"
              />
            </a>
          </div>

          <div class="relative flex">
            <input
              type="text"
              class="mt-3 mb-3 ml-10 font-semibold text-center text-black rounded-full search input"
              name="text"
              autocomplete="off"
              placeholder="Search"
            />
            <a class="absolute right-4 top-[1.2em] text-[#a5a58d]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <g fill="none" stroke="white" stroke-width="2">
                  <circle cx="11" cy="11" r="7" />
                  <path stroke-linecap="round" d="m20 20l-3-3" />
                </g>
              </svg>
            </a>
          </div>
        </div>
        <div class="flex">
          <div class="relative inline-block ml-[14em]">
            <div
              class="cursor-pointer mt-4 ml-[20em]"
              (click)="toggleNotificationDropdown($event)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="cursor-pointer"
              >
                <path
                  fill="white"
                  d="M21 6.5c0 1.93-1.57 3.5-3.5 3.5S14 8.43 14 6.5S15.57 3 17.5 3S21 4.57 21 6.5m-2 5.29c-.5.13-1 .21-1.5.21A5.51 5.51 0 0 1 12 6.5c0-1.47.58-2.8 1.5-3.79A1.93 1.93 0 0 0 12 2c-1.1 0-2 .9-2 2v.29C7.03 5.17 5 7.9 5 11v6l-2 2v1h18v-1l-2-2v-5.21M12 23c1.11 0 2-.89 2-2h-4a2 2 0 0 0 2 2Z"
                />
              </svg>
            </div>
            <div
              #notificationDropdown
              id="notificationDropdown"
              class="hidden absolute z-[1] font-medium background border-gray-300 py-2 ml-[20em] mt-2 w-48 rounded-md shadow-md"
            >
              <a
                class="block px-4 py-3 text-gray-800 cursor-pointer hover:background"
                (click)="showNoNotification()"
              >
                No Notification
              </a>
            </div>
          </div>

          <div class="flex mt-1.5 ml-5">
            <img
              src="../assets/images/hero.png"
              alt="image"
              class="rounded-full h-12 w-12 cursor-pointer border-2 border-[#EDEDE9]"
            />
            <h2
              class="ml-3 cursor-pointer font-extrabold mt-2 text-[20px] text-white"
            >
              Hash8 Developer
            </h2>
            <a
              id="dropdownButton"
              class="mt-3"
              (click)="toggleDropdown1($event)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="cursor-pointer ml-7"
              >
                <g fill="none" fill-rule="evenodd">
                  <path
                    d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"
                  />
                  <path
                    fill="white"
                    d="M13.06 16.06a1.5 1.5 0 0 1-2.12 0l-5.658-5.656a1.5 1.5 0 1 1 2.122-2.121L12 12.879l4.596-4.596a1.5 1.5 0 0 1 2.122 2.12l-5.657 5.658Z"
                  />
                </g>
              </svg>
            </a>
            <div
              #dropdown
              id="dropdown"
              class="absolute hidden p-4 mt-2 border border-gray-300 rounded-md shadow-md right-3 background top-12"
              (click)="closeDropdownIfOutside($event)"
            >
              <button
                class="p-4 text-lg transition-all font-semibold tracking-wider hover:border-white hover:text-white hover:bg-[#073b4c] text-[#073b4c] border-[#6B9080] background border-4 rounded-full w-52 pl-9 pr-9 logo"
              >
                Log Out
              </button>
            </div>
          </div>
        </div>
      </section>
    </nav>

    <!-- side nav -->

    <section
      *ngIf="showNmrComponent"
      class="h-full w-60 fixed border-2 border-white top-0 left-0 bg-[#E3D5CA]"
    >
      <div class="pb-5 pl-5 mt-20 border-b-2 border-white">
        <div class="mb-5">
          <a
            class="font-extrabold hover:text-[#1a759f] text-white text-[22px] logo"
            >Data Section</a
          >
        </div>
        <div class="hidden mb-5">
          <a
            class="font-extrabold hover:text-[#1a759f] text-white text-[22px] logo"
            >Inventery View</a
          >
        </div>
        <div class="mb-5">
          <a
            class="font-extrabold hover:text-[#1a759f] text-white text-[22px] logo"
            >Temperature View</a
          >
        </div>
        <div class="mb-5">
          <a
            class="font-extrabold hover:text-[#1a759f] text-white text-[22px] logo"
            >Set Operation</a
          >
        </div>

        <div class="mb-5">
          <a
            class="font-extrabold hover:text-[#1a759f] text-white text-[22px] logo"
            >Supply</a
          >
        </div>
        <div class="mb-5">
          <a
            class="font-extrabold hover:text-[#1a759f] text-white pb-3 text-[22px] logo"
            >Utilization</a
          >
        </div>
        <div class="mb-5">
          <a
            class="font-extrabold hover:text-[#1a759f] text-white text-[22px] logo"
            >Inventory</a
          >
        </div>
        <div class="mb-5">
          <a
            href="#Alert"
            class="font-extrabold hover:text-[#1a759f] text-white text-[22px] logo"
            >Alerts</a
          >
        </div>
      </div>
      <div class="mt-[25em] ml-3">
        <button
          class="p-4 text-lg transition-all font-semibold tracking-wider hover:border-white hover:text-white hover:bg-[#073b4c] text-[#073b4c] border-[#6B9080] background border-2 rounded-full w-52 pl-9 pr-9 logo"
        >
          Log Out
        </button>
      </div>
    </section>

    <!-- selection tab  -->

    <section class="ml-[20em] mt-7">
      <div class="flex">
        <h3 class="logo text-[20px] mt-7 mb-7 text-[#073b4c]">Asset Type :</h3>
        <div class="relative inline-block mt-6 text-left ml-7">
          <input
            type="text"
            id="primarySystem"
            class="px-4 py-2 rounded-2xl back primarysystem text-[#6B9080] font-semibold text-center cursor-pointer focus:outline-none"
            (click)="toggleDropdown()"
            placeholder="Asset Type"
            [value]="selectedAssetType || ''"
            readonly
          />
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2 mt-[-1.2em] mr-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g fill="none" fill-rule="evenodd">
                <path
                  d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"
                />
                <path
                  fill="#6B9080"
                  d="M13.06 16.06a1.5 1.5 0 0 1-2.12 0l-5.658-5.656a1.5 1.5 0 1 1 2.122-2.121L12 12.879l4.596-4.596a1.5 1.5 0 0 1 2.122 2.12l-5.657 5.658Z"
                />
              </g>
            </svg>
          </div>
          <div
            *ngIf="isDropdownOpen"
            class="absolute z-[1] w-48 py-2 mt-2 font-medium bg-white border-gray-300 rounded-md shadow-md dropdown-assettype"
          >
            <a
              (click)="selectAssetType('NMR')"
              class="block px-4 py-3 text-gray-800 cursor-pointer hover:bg-gray-200"
              >NMR</a
            >
            <a
              (click)="selectAssetType('TCR')"
              class="block px-4 py-3 text-gray-800 cursor-pointer hover:bg-gray-200"
              >TCR</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- <app-nmr [hidden]="selectedAssetType === 'TCR'"></app-nmr> -->
    <app-nmr *ngIf="showNmrComponent"></app-nmr>

    <router-outlet></router-outlet>

    <script src="" async defer></script>
  </body>
</html>
