<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body class="mt-4">
    <section class="ml-[17em]">
      <h3 class="pt-[15.7em] pl-[35em] logo text-[20px] text-[#073b4c]">
        Under Process !!!
      </h3>
    </section>
    <footer class="ml-[15em] mt-[22.9em]">
      <section
        class="w-full h-16 flex bg-[#D5BDAF] border-2 border-white place-content-end items-center pr-5"
      >
        <h2 class="ml-3 cursor-pointer font-extrabold text-[20px] text-white">
          addons
        </h2>
      </section>
    </footer>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>
  </body>
</html>
